3. IoT Application using IoT Sensor Data to Node-red/flows.json
[{"id":"a9c2b038.6d2a2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"43a515a0.cfe9ec","type":"ibmiot in","z":"a9c2b038.6d2a2","authentication":"apiKey","apiKey":"1dff2996.b60986","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2468","applicationId":"","deviceType":"NodeMCU1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":180,"wires":[["8df72479.7ae508","706f3b87.b48214","7160c8e4.8ed588","a0ec3744.269d38","fe0bdc5f.108a4","2e4c2d2d.016b92"]]},{"id":"8df72479.7ae508","type":"debug","z":"a9c2b038.6d2a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":200,"wires":[]},{"id":"706f3b87.b48214","type":"ui_gauge","z":"a9c2b038.6d2a2","name":"","group":"bc748fac.c07c","order":5,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":300,"wires":[]},{"id":"7160c8e4.8ed588","type":"ui_gauge","z":"a9c2b038.6d2a2","name":"","group":"bc748fac.c07c","order":3,"width":0,"height":0,"gtype":"gage","title":"Proximity","label":"units","format":"{{msg.payload.proximity}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":380,"wires":[]},{"id":"a0ec3744.269d38","type":"ui_gauge","z":"a9c2b038.6d2a2","name":"","group":"bc748fac.c07c","order":4,"width":0,"height":0,"gtype":"gage","title":"Smoke Detector","label":"units","format":"{{msg.payload.smoke}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":460,"wires":[]},{"id":"fe0bdc5f.108a4","type":"ui_gauge","z":"a9c2b038.6d2a2","name":"","group":"bc748fac.c07c","order":6,"width":0,"height":0,"gtype":"gage","title":"Water Level","label":"units","format":"{{msg.payload.waterlevel}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":540,"wires":[]},{"id":"2e4c2d2d.016b92","type":"ui_gauge","z":"a9c2b038.6d2a2","name":"","group":"bc748fac.c07c","order":7,"width":0,"height":0,"gtype":"gage","title":"Gas ","label":"units","format":"{{msg.payload.gas}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":600,"wires":[]},{"id":"1dff2996.b60986","type":"ibmiot","z":"","name":"new API","keepalive":"60","serverName":"74ib3v.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bc748fac.c07c","type":"ui_group","z":"","name":"sensors","tab":"868c2f59.6d154","order":1,"disp":true,"width":"6","collapse":false},{"id":"868c2f59.6d154","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]